GEMINI_API_KEY=
API_FOOTBALL_KEY=b77aa4c6c002f06924c53a3136f6f368
FOOTBALL_DATA_API_KEY=dad8c8fcd0a146c394fb2d53faab818a
SPORTMONKS_API_KEY=xplxjhyj9OF3xtVL5de396NGtccu2H5OjkJ3UBdH1oaJVkedhZsKw953IToQ

